/* shared style  */
*{
   margin: 0;
   padding: 0;
}

body{
   font-family: 'Work Sans', sans-serif;
}

a{
   text-decoration: none;
}

.primary-btn{
   color: #FFF;
   font-size: 20px;
   font-weight: 600;
   border-radius: 8px;
   background: #FF900E;
   padding: 20px 25px;
   border: 0;
   cursor: pointer;
}

.section-title{
   color: #131313;
   font-size: 3rem;
   font-weight: 700;
}

.section-description{
   color: #727272;
   font-size: 1rem;
   font-weight: 400;
   line-height: 26px;
   margin-top: 20px;
   margin-bottom: 30px;
}


/* header start  */
header{
   background-color: rgba(255, 144, 14, 0.10);
   padding: 50px 130px;
}

.header-container{
}

nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav .logo a{
   color: #131313;
   font-size: 3rem;
   font-weight: 700;
}

nav> ul{
   display: flex;
}

nav ul li{
   list-style: none;
   margin-right: 50px;
}

nav ul li:last-child{
   margin-right: 0;
}

nav ul li a {
   color: #424242;
   font-size: 1rem;
   font-weight: 500;
   line-height: 26px;
}

.banner-container{
   display: block;
}

.banner-content-wrapper {
   max-width: 862px;
   margin: 0 auto;
   text-align: center;
   margin-top: 100px;
   margin-bottom: 50px;
}

.banner-title{
   color: #131313;
   font-size: 4rem;
   font-weight: 700;
}

.banner-description{
   color: #727272;
   font-size: 1rem;
   font-weight: 400;
   line-height: 26px;
   margin-top: 20px;
   margin-bottom: 20px;
}

.banner-container img{
   width: 100%;
}

main{
   padding: 50px 130px;
}

/* quick list style  */

.quick-list-container{
   display: flex;
   align-items: center;
   padding: 0 40px;
   gap: 60px;
}

.quick-list-images{
   width: 100%;
   display: grid;
   grid-template-columns: repeat(2,2fr);
   gap: 20px;
}

.quick-list-images img{
   width: 100%;
}

.quick-list-content-wrapper{}

.quick-list{
   color: #727272;
   font-weight: 500;
}

.quick-list-feature{
   color: #FF900E;
   font-weight: 700;
}

/* features style  */

.features-container{
   display: flex;
   align-items: center;
   gap: 70px;
   padding: 100px 0;
}

.features-title-border{
   border-left: 5px solid #FF900E;
   padding-left: 15px;
}

.features-content{
}

.features-card {
   padding: 15px;
   border-radius: 8px;
   background: #FFF;
   box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
   margin-bottom: 20px;
}

.feature-title{
   color: #131313;
   font-size: 1.4rem;
   font-weight: 600;
   margin-bottom: 15px;
}

.feature-description{}

.features-image{
   position: relative;
   padding-left: 50px;
}

.features-image img{
   max-width: 650px;
}

.experience{
   display: inline-block;
   border-radius: 8px;
   background: #FF900E;
   padding: 45px;
   position: absolute;
   left: -5%;
   bottom: -8%;
   text-align: center;
}

.experience span{
   color: #FFF;
   text-align: center;
   font-size: 4rem;
   font-weight: 700;
   line-height: 70px;
}

.experience p{
   color: #FFF;
   font-size: 1.25rem;
   font-weight: 500;
   line-height: 40px;
}

/* fect style  */
.fact-container{
   padding: 100px 0;
}

.fact-card-container{
   padding: 40px 0;
   display: flex;
   justify-content: space-around;
   gap: 15px;
}

.fact-card{
   border-radius: 8px;
   border: 1px solid #FF900E;
   text-align: center;
   padding: 20px;
}

.fact-stat{
   color: #424242;
   font-size: 3rem;
   font-weight: 600;
}

.fact-title{
   color: #727272;
   font-size: 1rem;
   font-weight: 600;
}

.sponsor-container{
   margin: 20px 0;
}

.sponsor-content{
   max-width: 542px;
   margin: 0 auto;
   text-align: center;
}

.sponsor-wrapper{
   display: flex;
   justify-content: space-between;
   gap: 15px;
}

.sponsor-wrapper img{
   width: 100px;
}

footer{
   padding: 0 130px;
}

.footer-container{
   padding: 30px 0;
   border-radius: 8px;
   background: #FFF4E7;
   text-align: center;
}

.footer-container p{
   color: #424242;
   font-size: 20px;
   font-weight: 400;
}








/* responsive media queries */
@media screen and (max-width: 576.99px) {
   .section-title {
      font-size: 1.8rem;
   }

   .primary-btn {
      font-size: 16px;
      padding: 15px 25px;
  }

   header{
      padding: 40px 20px;
   }

   nav{
      flex-direction: column;
   }

   nav> ul{
      margin-top: 15px;
      margin-bottom: 25px;
   }

   nav .logo a{
      font-size: 2.5rem;
   }

   nav ul li {
      margin-right: 15px;
   }

   .banner-container {
      display: flex;
      flex-direction: column-reverse;
      margin: 20px 0;
   }

   .banner-content-wrapper {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
   }

   .banner-title {
      font-size: 2rem;
   }

   .banner-title br{
      display: none;
   }

   main{
      padding: 40px 20px;
   }

   .quick-list-container{
      flex-direction: column;
      padding: 0;
      gap: 30px;
   }

   .features-container{
      padding: 50px 0;
      flex-direction: column-reverse;
      gap: 50px;
   }

   .features-image {
      padding-left: 0;
   }

   .features-image img{
      width: 100%;
   }

   .experience {;
      left: 0;
      bottom: 0;
      padding: 15px;
  }

  .features-card {
      padding: 20px;
      margin-bottom: 20px;
   }

   .fact-container{
      padding: 20px 0;
   }

   .fact-card-container{
      flex-direction: column;
      padding: 0;
   }

   .fact-card{
      margin-bottom: 15px;
   }

   .sponsor-wrapper{
      flex-direction: column;
      align-items: center;
   }

   footer{
      padding: 20px;
   }

}

/* medium device */
@media screen and (min-width:577px) and (max-width:960.99px) {
   .section-title {
      font-size: 1.8rem;
   }

   header{
      padding: 40px 20px;
   }

   nav .logo a {
      font-size: 2rem;
   }

   .banner-container {
      display: flex;
      flex-direction: column-reverse;
      margin: 20px 0;
   }

   .banner-content-wrapper {
      width: 90%;
      margin: 20px auto;
   }

   .banner-title {
      font-size: 2rem;
   }

   nav ul li {
      margin-right: 30px;
   }

   main{
      padding: 40px 20px;
   }

   .quick-list-container{
      flex-direction: column;
      gap: 30px;
   }

   .features-container{
      padding: 50px 0;
      flex-direction: column-reverse;
      gap: 50px;
   }

   .features-image {
      padding-left: 0;
   }

   .features-image img{
      width: 100%;
   }

   .experience {;
      left: 0;
      bottom: 0;
      padding: 15px;
  }

  .features-card {
      padding: 20px;
      margin-bottom: 20px;
   }

   .fact-container{
      padding: 20px 0;
   }

   .fact-card-container{
      padding: 0;
   }

   .fact-card{
      margin-bottom: 15px;
   }

   footer{
      padding: 20px;
   }
   
}

/* medium device */
@media screen and (min-width:961px) and (max-width:1400px) {
   .quick-list-container {
      flex-direction: column;
   }

   .features-container{
      padding: 50px 0;
      flex-direction: column-reverse;
      gap: 50px;
   }

   .features-image {
      padding-left: 0;
   }

   .experience {;
      left: 0;
      bottom: 0;
      padding: 15px;
   }

   .features-card {
      padding: 20px;
      margin-bottom: 20px;
   }
  
}